@import "./breakpoints";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

@mixin animate($name, $duration, $ease, $count, $delay: 0s) {
  animation: $name $duration $ease $count $delay;
}

@mixin keyframe($name) {
  @keyframes #{$name} {
    @content;
  }
}
