$primary_color: rgba(39, 180, 250, 0.977);
$text_color: black;
$ticked_checkbox_color: rgba(113, 113, 113, 0.709);
$ticked_text_color: rgba(113, 113, 113, 0.709);
$input_color: rgba(167, 167, 167, 0.709);
$input_border: rgba(113, 113, 113, 0.709);
